<?xml version="1.0" encoding="UTF-8"?>
<config>
    <deviceType></deviceType>
    <functionSets>
		<functionSet>			
			<Name>Metering</Name>
			<Server>1</Server>
			<Client>0</Client>
		<functionSet>
		<functionSet>			
			<Name>Messaging</Name>
			<Server>1</Server>
		<functionSet>
	</functionSets>
    <status>Mandatory</status>
    <name>Demand Response Program Instance /name>
    <description>Request A Demand Response Program (Demand Response and Load Control) Instance</description>
    <command>get/dr/0</command>
</config>